/* RESET BÁSICO */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Lexend", sans-serif;
    background-color: #66a9bd;
    color: #003366;  
}
style {
    display: none; 
}
header, main, footer{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

/* banner SUPERIOR */
.top-banner{
    background-color: #377192; 
    color: white;
    padding: 10px;
    font-weight: bold;
}

/* nav principal */
.nav-principal{
    background-color: #2a6672;
    padding: 15px 25px;
    max-width: 1200px;
    margin: 0 auto;
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.logo{
    font-size: 24px;
    font-weight: bold;
    color: #003366;
}

/* la navegacion */
.nav-lista{
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
}

.nav-lista a{
    text-decoration: none;
    color: #003366;
    font-weight: bold;
    transition: .3s;
}

.nav-lista a:hover{
    color: #ff6b35;
}

/* estilo para las imagenes con width */
img[width] {
    border: 2px solid #00b4d8;
    transition: transform .3s ease;
}

img[width]:hover {
    transform: scale(1.05);
}
